<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.majic.com.br">
                        Majic
                    </a>
                </li>
                <li>
                    <a href="https://www.buntech.com.br/">
                        Buntech
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, feito por profissionais
            <a href="https://www.majic.com.br" target="_blank">Majic</a> Inovando sempre.
        </div>
    </div>
</footer>