<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="lForm" class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorVerde ">
                        <a>MANUTENÇÃO DOS GRUPOS DE RESUMOS</a>
                    </div>
                    <div class="row">
                        <div class="card-body table-responsive col-md-1">
                            <mat-form-field>
                                <mat-label>ID</mat-label>
                                <input matInput [(ngModel)]="idGrupo" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-1">
                            <mat-form-field>
                                <mat-label>Recurso</mat-label>
                                <input matInput [(ngModel)]="recurso">
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-3">
                            <mat-form-field>
                                <mat-label>Grupo</mat-label>
                                <input matInput [(ngModel)]="grupo">
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-select placeholder="Ativo" [(ngModel)]="ativo">
                                    <mat-option *ngFor="let aptAtivo of aAtivo" [value]="aptAtivo">
                                        {{aptAtivo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <button mat-raised-button type="submit" *ngIf="lBtnInc" class="btn btn-success" (click)="manutGrupo(2, {})">Incluir</button>
                <button mat-raised-button type="submit" *ngIf="lBtnAlt" class="btn btn-warning" (click)="manutGrupo(3, {})">Alterar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorAzul">
                        <a>CADASTRO DE GRUPOS DE RESUMOS
                            <button (click)="exportExcel('GrupoRecursos', 'GrupoRecurso')" mat-raised-button
                                type="button" matTooltip="Exporta Excel" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    file_download
                                </span>
                            </button>
                        </a> {{arrUserLogado.nome}} - {{arrUserLogado.dataLogin.split("T")[0].split("-").reverse().join("/")}}
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="card-body table-responsive col-md-5">
                                <mat-form-field>
                                    <mat-label>Filtro</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrando Ordem Produção" [(ngModel)]="opFilter">
                                </mat-form-field>
                            </div>
                            <button (click)="manutGrupo(1, {})" mat-raised-button type="button" matTooltip="Inclusão de Grupo de Recursos" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    add_to_photos
                                </span>
                            </button>
                        </div>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="idGrupo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Grupo </th>
                                    <td *matCellDef='let row' mat-cell> {{row.idGrupo}} </td>
                                </ng-container>
                                <ng-container matColumnDef="recurso">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recurso </th>
                                    <td mat-cell *matCellDef="let row"> {{row.recurso}} </td>
                                </ng-container>
                                <ng-container matColumnDef="grupo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </th>
                                    <td mat-cell *matCellDef="let row"> {{row.grupo}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ativo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ativo </th>
                                    <td mat-cell *matCellDef="let row"> {{row.ativo}} </td>
                                </ng-container>
                                <ng-container matColumnDef="edicao">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Alterar </th>
                                    <td mat-cell *matCellDef="let row">
                                        <button (click)="manutGrupo(4,row)" mat-raised-button type="button" matTooltip="Alteração Características" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[12, 25, 50]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>