.container-fluid {
    margin-top: -6%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

table {
    width: 100%;
}

.divCorAzul {
    background: rgba(4, 146, 204);
    color: rgb(250, 246, 244);
}

.divCorVerde {
    background: rgba(3, 173, 162);
    color: rgb(250, 246, 244);
}

.Liberado {
    background: rgb(230, 255, 230);
}

.Bloqueado {
    background: rgb(255, 204, 204);
}

.textoVerde {
    color: limegreen
}

.textoVermelho {
    color: DarkSalmon
}