<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorVerde ">
                        <h4 class="card-title">Conferência dos Dados da OP</h4>
                        <!-- <p class="card-category">Complete your usuario</p> -->
                    </div>
                    <div class="row">
                        <div class="card-body table-responsive col-md-1">
                            <mat-form-field>
                                <mat-label>Filial</mat-label>
                                <input matInput [(ngModel)]=opFilial disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Ordem de Produção</mat-label>
                                <input matInput [(ngModel)]=opCodigo disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Produto Acabado</mat-label>
                                <input matInput [(ngModel)]=opProduto disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-5">
                            <mat-form-field>
                                <mat-label>Descrição</mat-label>
                                <input matInput [(ngModel)]=opDescricao disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-1">
                            <mat-form-field>
                                <mat-label>Operação</mat-label>
                                <input matInput [(ngModel)]="opOperacao" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-1">
                            <mat-form-field>
                                <mat-label>Recurso</mat-label>
                                <input matInput [(ngModel)]="opRecurso" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Quantidade Protheus</mat-label>
                                <input matInput [(ngModel)]=opQtde disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Qtde PCF</mat-label>
                                <input matInput [(ngModel)]="opQtdePcf" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Qtde Entregue</mat-label>
                                <input matInput [(ngModel)]="opQtdeEntregue" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Retrabalho</mat-label>
                                <input matInput [(ngModel)]="opRetrabalho" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Horas</mat-label>
                                <input matInput [(ngModel)]="opHoras" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Data Emissao</mat-label>
                                <input matInput [(ngModel)]="opEmissao" disabled>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <div class="card" *ngIf="parcialAtivo">
                    <div class="card-header card-header divCorVerde ">
                        <h4 class="card-title">Produção Parcial</h4>
                        <!-- <p class="card-category">Complete your usuario</p> -->
                    </div>
                    <div class="row">
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Produto Acabado</mat-label>
                                <input matInput [(ngModel)]="opProduto" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-3">
                            <mat-form-field>
                                <mat-label>Descrição</mat-label>
                                <input matInput [(ngModel)]="opDescricao" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Quantidade Entregue</mat-label>
                                <input matInput [(ngModel)]="opQtdeEntregue" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Qtde PCF</mat-label>
                                <input matInput [(ngModel)]=opQtdePcf disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Quantidade Parcial</mat-label>
                                <input matInput type="number" [(ngModel)]=opQtdeParcial>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger" (click)="voltaResumo()">voltar</button>
                <button mat-raised-button type="submit" *ngIf="numOP[0].SITUACAO == 'Baixada'" class="btn btn-success" (click)=prodTotalOp()>Total</button>
                <!-- <button mat-raised-button type="submit" *ngIf=parcialAtivo class="btn btn-warning" (click)=prodParcialOp()>Parcial</button> -->
                <button mat-raised-button type="submit" *ngIf="numOP[0].SITUACAO == 'Baixada'" class="btn btn-info" (click)=reabrOp()>Re-Ajustar</button>
            </div>
        </div>
        <div class="row" *ngIf="numOP[0].SITUACAO == 'Baixada'">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorAzul">
                        <a>Relação dos Itens do Empenho da Ordem de Produção<button
                                (click)="exportExcel('Empenho OP', 'Empenho')" mat-raised-button type="button"
                                matTooltip="Exporta Excel" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    file_download
                                </span>
                            </button></a>
                    </div>
                    <div class="card-body table-responsive">
                        <mat-form-field>
                            <mat-label>Filtro</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Filtrando Itens" #input>
                        </mat-form-field>

                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="COMPONENTE">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Componente </th>
                                    <td mat-cell *matCellDef="let row"> {{row.COMPONENTE}} </td>
                                </ng-container>
                                <ng-container matColumnDef="DESCRIC">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
                                    <td mat-cell *matCellDef="let row"> {{row.DESCRIC}} </td>
                                </ng-container>
                                <ng-container matColumnDef="UNIDADE">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> UM </th>
                                    <td mat-cell *matCellDef="let row"> {{row.UNIDADE}} </td>
                                </ng-container>
                                <ng-container matColumnDef="QTDEORI">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Qtde Orig </th>
                                    <td mat-cell *matCellDef="let row"> {{row.QTDEORI}} </td>
                                </ng-container>
                                <ng-container matColumnDef="QTDCALCULADA">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Qtde Calc </th>
                                    <td mat-cell *matCellDef="let row; let i = index">
                                        <p *ngIf='enableEditIndex!=i'>{{row.QTDECALC}}</p>
                                        <input ng-maxlength="20" type='text' value={{row.QTDECALC}} class="editQtd" id="editQtd" *ngIf='enableEdit && enableEditIndex==i'>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="SITUACA">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SITUAÇÃO </th>
                                    <td mat-cell *matCellDef="let row"> {{row.SITUACA}} </td>
                                </ng-container>
                                <ng-container matColumnDef="EDICAO">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Edição </th>
                                    <td mat-cell *matCellDef="let row; let i = index;">
                                        <button *ngIf='enableEdit && enableEditIndex != i' (click)="enableEditUser($event, i)" mat-raised-button type="button" matTooltip="Edição" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button *ngIf='enableEditIndex==i' (click)='altQtde()' mat-raised-button type='button' class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class='material-icons'>save</i>
                                        </button>
                                        <button *ngIf='enableEditIndex==i' (click)='enableEditIndex=null;' mat-raised-button type='button' class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class='material-icons'>cancel</i>
                                        </button>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="SALDO">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SALDO </th>
                                    <td mat-cell *matCellDef="let row"> {{row.SALDO}} </td>
                                </ng-container>
                                <ng-container matColumnDef="TIPO">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
                                    <td mat-cell *matCellDef="let row"> {{row.TIPO}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'saldoL' : row.SALDO >= row.QTDECALC || row.TIPO === 'R' || ('M3 | H | ').indexOf(row.UNIDADE) !== -1,
                                    'saldoB' : row.QTDECALC > row.SALDO && row.TIPO !== 'R' && ('M3 | H | ').indexOf(row.UNIDADE) === -1 }"></tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[12, 25, 50]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>