[Unit]
Description=Acesso ao Banco do Protheus de Produção
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env nodejs /var/www/node/app785.js
[Install]
WantedBy=multi-user.target
