[Unit]
Description=Acesso ao Banco PCF - Filiais:108 
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env nodejs /var/www/node/app786.js
[Install]
WantedBy=multi-user.target
