<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorAzul">
                        <a>RELAÇÃO DE ORDENS DE PRODUÇÃO.
                            <button (click)="exportExcel('Ordens OP Andamento', 'OP')" mat-raised-button type="button"
                                matTooltip="Exporta Excel" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    file_download
                                </span>
                            </button>
                            <button (click)="buscatblOutInteg()" mat-raised-button type="button"
                                matTooltip="Exporta tblOutInteg" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    language
                                </span>
                            </button>
                        </a> {{aUsr.nome}} Logado desde: {{aUsr.dataLogin.split("T")[0].split("-").reverse().join("/")}} - {{aUsr.dataLogin.split('T')[1].split('.')[0]}}
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="card-body table-responsive col-md-4">
                                <mat-form-field>
                                    <mat-label>Filtro</mat-label>
                                    <input matInput (keyup)="applyFilter()" placeholder="Filtrando Ordem Produção" [(ngModel)]=opFilter>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="filial">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Filial </th>
                                    <td mat-cell *matCellDef="let row"> {{row.filial}} </td>
                                </ng-container>
                                <ng-container matColumnDef="op">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OP </th>
                                    <td mat-cell *matCellDef="let row"> {{row.op}} </td>
                                </ng-container>
                                <ng-container matColumnDef="lote">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lote </th>
                                    <td mat-cell *matCellDef="let row"> {{row.lote}} </td>
                                </ng-container>
                                <ng-container matColumnDef="qtdeLote">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Qtde PCF </th>
                                    <td mat-cell *matCellDef="let row"> {{fg.formatarNumero(row.qtdeLote)}}</td>
                                </ng-container>
                                <ng-container matColumnDef="qtdeEnv">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Qtde Transmitida </th>
                                    <td mat-cell *matCellDef="let row"> {{fg.formatarNumero(row.qtdeEnv)}}</td>
                                </ng-container>
                                <ng-container matColumnDef="qtdeSaldo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo a Transmitir </th>
                                    <td mat-cell *matCellDef="let row"> {{fg.formatarNumero(row.qtdeSaldo)}}</td>
                                </ng-container>
                                <ng-container matColumnDef="qtdeProd">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Qtde Produzida </th>
                                    <td mat-cell *matCellDef="let row"> {{fg.formatarNumero(row.qtdeProd)}}</td>
                                </ng-container>
                                <ng-container matColumnDef="saldoProd">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo a Produzir </th>
                                    <td mat-cell *matCellDef="let row"> {{fg.formatarNumero(row.saldoProd)}}</td>
                                </ng-container>
                                <ng-container matColumnDef="diabr">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Emissão OP</th>
                                    <td mat-cell *matCellDef="let row"> {{row.diabr}} </td>
                                </ng-container>
                                <ng-container matColumnDef="situacao">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Situacao</th>
                                    <td mat-cell *matCellDef="let row"> {{row.situacao}} </td>
                                </ng-container>
                                <ng-container matColumnDef="edicao">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> E D I Ç Ã O </th>
                                    <td mat-cell *matCellDef="let row">
                                        <button (click)="visuOp(row)" mat-raised-button type="button" matTooltip="Visualizar" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">visibility</i>
                                        </button>
                                        <button (click)="ajustaOp(row)" [disabled]="btnDisable(row, 'a')" mat-raised-button type="button" matTooltip="Ajustar Empenho" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">build</i>
                                        </button>
                                        <button (click)="fj.prodParcialOp(row, 'pcp')" [disabled] mat-raised-button type="button" matTooltip="Produzir" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons md-48">add</i>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]='divCorVerde'></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'sts00' : row.situacao === 'Sem Status','sts10' : row.situacao === 'Produção','sts20' : row.situacao === 'Liberada','sts30' : row.situacao === 'Planejada','sts40' : row.situacao === 'Interrompida','sts50' : row.situacao === 'Baixada','sts60' : row.situacao === 'Encerrada','sts70' : row.situacao === 'Cancelada','sts80' : row.situacao === 'Integrada'}">
                                </tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input?.value}}"</td>
                                </tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[25, 50, 150]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>