<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorAzul">
                        <a>CADASTRO DE LOTES
                            <button (click)="exportExcel('Lotes', 'Lote')" mat-raised-button type="button"
                                matTooltip="Exporta Excel" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    file_download
                                </span>
                            </button>
                        </a>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="card-body table-responsive col-md-5">
                                <mat-form-field>
                                    <mat-label>Filtro Geral</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro de Lote" #input>
                                </mat-form-field>
                            </div>
                            <div class="card-body table-responsive col-md-2">
                                <mat-form-field>
                                    <mat-select (selectionChange)="altFilter($event)" placeholder="Filtro Lote"
                                        [(ngModel)]="filLote">
                                        <mat-option *ngFor="let optFilter of filterLote" [value]="optFilter">
                                            {{optFilter}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="ord">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ordem </th>
                                    <td *matCellDef='let row' mat-cell> {{row.ord}} </td>
                                </ng-container>
                                <ng-container matColumnDef="produto">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                                    <td mat-cell *matCellDef="let row"> {{row.produto}} </td>
                                </ng-container>
                                <ng-container matColumnDef="descricao">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
                                    <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
                                </ng-container>
                                <ng-container matColumnDef="tipo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                                    <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
                                </ng-container>
                                <ng-container matColumnDef="unidade">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidade </th>
                                    <td mat-cell *matCellDef="let row"> {{row.unidade}} </td>
                                </ng-container>
                                <ng-container matColumnDef="grupo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </th>
                                    <td mat-cell *matCellDef="let row"> {{row.grupo}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ncm">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NCM </th>
                                    <td mat-cell *matCellDef="let row"> {{row.ncm}} </td>
                                </ng-container>
                                <ng-container matColumnDef="revisao">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Revisão</th>
                                    <td mat-cell *matCellDef="let row"> {{row.revisao}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="seq">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sequência </th>
                                    <td mat-cell *matCellDef="let row"> {{row.seq}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="validade">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Validade </th>
                                    <td mat-cell *matCellDef="let row"> {{row.validade}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="quebra">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quebra </th>
                                    <td mat-cell *matCellDef="let row"> {{row.quebra}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="qtde">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
                                    <td mat-cell *matCellDef="let row"> {{row.qtde}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="lote">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
                                    <td mat-cell *matCellDef="let row">
                                        <button (click)="acessoLote(row)" mat-raised-button type="button"
                                            matTooltip="Acesso Lote" [matTooltipPosition]="'above'"
                                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">compare</i>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]='divCorVerde'></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"
                                    [ngClass]="{'semLote' : row.seq === '','comLote' : row.seq !== '','Rev001' : row.revisao === '001'}">
                                </tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[12, 25, 50]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>