<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorVerde ">
                        <h4 style="color:White" class="card-title">Ajuste dos Dados da OP - {{aUsr.nome}} Logado desde:
                            {{aUsr.dataLogin.split("T")[0].split("-").reverse().join("/")}} -
                            {{aUsr.dataLogin.split('T')[1].split('.')[0]}}
                        </h4>
                    </div>
                    <div class="row">
                        <div class="card-body table-responsive col-md-1">
                            <mat-form-field>
                                <mat-label>Filial</mat-label>
                                <input matInput [(ngModel)]="opFilial" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Ordem de Produção</mat-label>
                                <input matInput [(ngModel)]="opCodigo" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Produto Acabado</mat-label>
                                <input matInput [(ngModel)]="opProduto" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-3">
                            <mat-form-field>
                                <mat-label>Descrição</mat-label>
                                <input matInput [(ngModel)]="opDescricao" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Data Produção</mat-label>
                                <input matInput [(ngModel)]="opEmissao" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Quantidade PCF</mat-label>
                                <input matInput [(ngModel)]="opQtdePcf" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>horas</mat-label>
                                <input matInput [(ngModel)]="opHoras" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Quantidade Transmitida</mat-label>
                                <input matInput [(ngModel)]="opQtdeEnv" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Saldo a Transmitir</mat-label>
                                <input matInput [(ngModel)]="opQtdeSaldo" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Qtde Produzida</mat-label>
                                <input matInput [(ngModel)]="opQtdeProd" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Saldo a Produzir</mat-label>
                                <input matInput [(ngModel)]="opSaldoProd" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Qtde Produção</mat-label>
                                <input matInput [(ngModel)]="opQtdeProduz" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger" (click)="voltaResumo()">voltar</button>
                <button mat-raised-button type="submit" class="btn btn-success" (click)="calculaOP()">calcular</button>
                <button mat-raised-button type="submit" class="btn btn-info" (click)="mostraInclusao()">incluir</button>
                <button mat-raised-button type="submit" class="btn btn-warning" (click)="confirmarEmpenho()">confirmar</button>
                <button mat-raised-button type="submit" class="btn btn-primary" (click)="produzir()">Produzir</button>
            </div>
        </div>
        <div class="row" *ngIf="mostraInc">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorVerde ">
                        <h4 class="card-title">Adiciona Item no Empenho"
                        </h4>

                        <!-- <p class="card-category">Complete your usuario</p> -->
                    </div>
                    <div class="row">
                        <div class="card-body table-responsive col-md-3">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Código do Produto</mat-label>
                                    <input type="text" placeholder="Código Produto" aria-label="Number" matInput
                                        [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="opItemNovo">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                        (optionSelected)="aposSelec($event)">
                                        <mat-option *ngFor="let option of filteredOptions | async"
                                            [value]="option.codigo">
                                            {{option.codigo}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="card-body table-responsive col-md-5">
                            <mat-form-field>
                                <mat-label>Descrição</mat-label>
                                <input matInput [(ngModel)]="opDescItemNovo" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Quantidade</mat-label>
                                <input type="number" matInput [(ngModel)]="opQtdeItemNovo">
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-1">
                            <mat-form-field>
                                <mat-label>Unidade</mat-label>
                                <input matInput [(ngModel)]="opUnidadeItemNovo" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-info" (click)="incProd()">Adiciona</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorAzul">
                        <a>Relação dos Itens do Empenho da Ordem de
                            Produção<button (click)="exportExcel('Empenho OP', 'Empenho')" mat-raised-button
                                type="button" matTooltip="Exporta Excel" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    file_download
                                </span>
                            </button></a>
                        <!-- <h4 class="card-title">RELAÇÃO DE ORDENS DE PRODUÇÃO</h4> -->
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <mat-form-field>
                            <mat-label>Filtro</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Filtro do Produto" #input>
                        </mat-form-field>

                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="componente">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Componente </th>
                                    <td mat-cell *matCellDef="let row"> {{row.componente}} </td>
                                </ng-container>
                                <ng-container matColumnDef="descEmp">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
                                    <td mat-cell *matCellDef="let row"> {{row.descEmp}} </td>
                                </ng-container>
                                <ng-container matColumnDef="unidade">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidade </th>
                                    <td mat-cell *matCellDef="let row"> {{row.unidade}} </td>
                                </ng-container>
                                <ng-container matColumnDef="qtdeEmp">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Empenho Original </th>
                                    <td mat-cell *matCellDef="let row"> {{fg.formatarNumero(row.qtdeEmp)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="qtdeInformada">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Empenho Informado </th>
                                    <td mat-cell *matCellDef="let row; let i = index">
                                        <p *ngIf='enableEditIndex!=i'>{{fg.formatarNumero(row.qtdeInformada)}}</p>
                                        <input ng-maxlength="20" type='text' value={{row.qtdeInformada}} class="editQtd"
                                            id="editQtd" *ngIf='enableEditIndex==i'>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="qtdeEmpCalc">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Empenho Calculado </th>
                                    <td mat-cell *matCellDef="let row"> {{fg.formatarNumero(row.qtdeEmpCalc)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="qtdeConsumida">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Empenho Consumido </th>
                                    <td mat-cell *matCellDef="let row"> {{fg.formatarNumero(row.qtdeConsumida)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="sitDesc">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
                                    <td mat-cell *matCellDef="let row"> {{row.sitDesc}} </td>
                                </ng-container>
                                <ng-container matColumnDef="edicao">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Edição </th>
                                    <td mat-cell *matCellDef="let row; let i = index;">
                                        <button *ngIf='enableEditIndex != i' (click)="enableEditUser($event, i)"
                                            [disabled]="btnEditDisable(row)" mat-raised-button type="button"
                                            matTooltip="Edição" [matTooltipPosition]="'above'"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button *ngIf='enableEditIndex==i' (click)='altQtde(row)' mat-raised-button
                                            type='button' class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class='material-icons'>save</i>
                                        </button>
                                        <button *ngIf='enableEditIndex==i' (click)='enableEditIndex=null;'
                                            mat-raised-button type='button'
                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class='material-icons'>cancel</i>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns">
                                    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns; let sld" [ngClass]="{'saldoL' : sld.SALDO >= sld.QTDEORI ,'saldoB' : sld.QTDEORI > sld.SALDO}"> -->
                                </tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                                    </td>
                                </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[12, 25, 50]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>