<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header divCorVerde ">
                    <a>VISUALIZAÇÃO DAS ESPECIFICAÇÕES</a>
                </div>
                <div class="row">
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Produto Acabado</mat-label>
                            <input matInput [(ngModel)]="cabProduto" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Descrição</mat-label>
                            <input matInput [(ngModel)]="descrProd" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Revisão</mat-label>
                            <input matInput [(ngModel)]="cabRevisao" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Data Revisão</mat-label>
                            <input type="text" matInput [(ngModel)]="dataAprov" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Usuário</mat-label>
                            <input type="text" matInput [(ngModel)]="feitoPor" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Num Especificação</mat-label>
                            <input matInput [(ngModel)]="numEspec" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Situação</mat-label>
                            <input matInput [(ngModel)]="cabSituacao" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Aplicação</mat-label>
                            <input matInput [(ngModel)]="aplicacao" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-5">
                        <mat-form-field>
                            <mat-label>Embalagem</mat-label>
                            <input matInput [(ngModel)]="embalagem" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-5">
                        <mat-form-field>
                            <mat-label>Observações da Revisão</mat-label>
                            <input matInput [(ngModel)]="qualObsRevisao" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-12">
                        <mat-form-field>
                            <mat-label>Observações Gerais</mat-label>
                            <input matInput [(ngModel)]="qualObsGeral" disabled>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-danger" (click)="voltaHist()">Voltar</button>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorAzul">
                        <a>CADASTRO DE ESPECIFICAÇÕES
                            <button (click)="exportExcel('Especificas', 'Especifica')" mat-raised-button type="button"
                                matTooltip="Exporta Excel" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    file_download
                                </span>
                            </button>
                        </a>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="seq">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Seq </th>
                                    <td *matCellDef='let row' class={{row.situacao}} mat-cell> {{row.seq}} </td>
                                </ng-container>
                                <ng-container matColumnDef="iteCarac">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                                    <td mat-cell *matCellDef="let row" class={{row.situacao}}> {{row.iteCarac}} </td>
                                </ng-container>
                                <ng-container matColumnDef="descCarac">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
                                    <td mat-cell *matCellDef="let row" class={{row.situacao}}> {{row.descCarac}} </td>
                                </ng-container>
                                <ng-container matColumnDef="iteMin">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mínimo </th>
                                    <td mat-cell *matCellDef="let row" class={{row.situacao}}> {{row.iteMin}} </td>
                                </ng-container>
                                <ng-container matColumnDef="iteMax">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Máximo </th>
                                    <td mat-cell *matCellDef="let row" class={{row.situacao}}> {{row.iteMax}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[12, 25, 50]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>