[Unit]
Description=Acesso Usuarios AD - LDAP
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env nodejs /var/www/dbsql/app3.js
[Install]
WantedBy=multi-user.target
