<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorAzul">
                        <a>CADASTRO DE ESPECIFICAÇÕES
                            <button (click)="exportExcel('Especificas', 'Especifica')" mat-raised-button type="button"
                                matTooltip="Exporta Excel" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    file_download
                                </span>
                            </button>
                        </a>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="card-body table-responsive col-md-5">
                                <mat-form-field>
                                    <mat-label>Filtro</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro de Especifica" #input>
                                </mat-form-field>
                            </div>
                            <div class="card-body table-responsive col-md-2">
                                <mat-form-field>
                                    <mat-select (selectionChange)="altFilter($event)" placeholder="Filtro Status Lote" [(ngModel)]="cfilEspecProd">
                                        <mat-option *ngFor="let optFilter of afilEspecProd" [value]="optFilter">
                                            {{optFilter}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="seq">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Seq </th>
                                    <td *matCellDef='let row' class={{row.situacao}} mat-cell> {{row.seq}} </td>
                                </ng-container>
                                <ng-container matColumnDef="codigo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                                    <td mat-cell *matCellDef="let row" class={{row.situacao}}> {{row.codigo}} </td>
                                </ng-container>
                                <ng-container matColumnDef="descricao">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
                                    <td mat-cell *matCellDef="let row" class={{row.situacao}}> {{row.descricao}} </td>
                                </ng-container>
                                <ng-container matColumnDef="tipo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                                    <td mat-cell *matCellDef="let row" class={{row.situacao}}> {{row.tipo}} </td>
                                </ng-container>
                                <ng-container matColumnDef="unidade">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidade </th>
                                    <td mat-cell *matCellDef="let row" class={{row.situacao}}> {{row.unidade}} </td>
                                </ng-container>
                                <ng-container matColumnDef="grupo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </th>
                                    <td mat-cell *matCellDef="let row" class={{row.situacao}}> {{row.grupo}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ncm">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NCM </th>
                                    <td mat-cell *matCellDef="let row" class={{row.situacao}}> {{row.ncm}} </td>
                                </ng-container>
                                <ng-container matColumnDef="revisao">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Revisão</th>
                                    <td mat-cell *matCellDef="let row"> {{row.revisao}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="situacao">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
                                    <td mat-cell *matCellDef="let row" class={{row.situacao}}> {{row.situacao}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="revisa">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Espec</th>
                                    <td mat-cell *matCellDef="let row">
                                        <button (click)="acessoEspec(row)" mat-raised-button type="button" matTooltip="Acesso Especificações" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">leak_add</i>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]='divCorVerde'></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'SituAnd' : row.situacao === 'Andamento','SituFin' : row.situacao === 'Concluida','SituEnc' : row.situacao === 'Encerrada','SituVin' : row.situacao === 'Fora Vigência','SituEsp' : row.situacao === 'Sem Epecificação'}">
                                </tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[12, 25, 50]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>