<div class="logo">
    <a href="https://www.buntech.com.br/" target="_blank" class="simple-text">
        <div class="logo-img">
            <img src="../../../assets/img/logo.png" height="40" width="200" />
        </div>
        BUN-TESTE
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item ">
            <a class="nav-link btnAtivo" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="javascript:void(0)" (click)="authService.SignOut()">
                <i class="material-icons">logout</i>
                <p>Sair</p>
            </a>
        </li>
    </ul>
</div>