<div class="logo">
    <a href="https://www.buntech.com.br/" target="_blank" rel="noopener noreferrer" class="simple-text">
        <div class="logo-img">
            <img alt="Logo Buntech" src="../../../assets/img/logo.png" height="40" width="200" />
        </div>
        BUN-TESTE
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i class="material-icons">ac_unit</i>
                    <p>Cadastros</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <li routerLinkActive="active" *ngFor="let menuItem of cadastroItems" class="{{menuItem.class}} nav-item ">
                <a class="nav-link btnAtivo" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i class="material-icons">app_registration</i>
                    <p>PCP</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <li routerLinkActive="active" *ngFor="let menuItem of atividadeItems" class="{{menuItem.class}} nav-item ">
                <a class="nav-link btnAtivo" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i class="material-icons">art_track</i>
                    <p>Controle de Qualidade</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <li routerLinkActive="active" *ngFor="let menuItem of qualidadeItens" class="{{menuItem.class}} nav-item ">
                <a class="nav-link btnAtivo" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </mat-expansion-panel>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item ">
            <a class="nav-link btnAtivo" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="javascript:void(0)" (click)="authService.SignOut()">
                <i class="material-icons">logout</i>
                <p>Sair</p>
            </a>
        </li>
    </ul>
</div>