<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 center1">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Informe o email para refazer a Senha</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row center1">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <mat-form-field class="example-full-width">
                                            <!-- <input matInput placeholder="Company (disabled)" disabled> -->
                                            <input matInput placeholder="Seu Email" #passwordResetEmail required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-10">
                                        <mat-form-field class="example-full-width">
                                            <input type="password" matInput placeholder="Senha" disabled>
                                        </mat-form-field>
                                    </div>
                                    <button mat-raised-button type="submit" class="btn btn-success" (click)="authService.ForgotPassword(passwordResetEmail.value)">Solicitar</button>
                                    <hr>
                                    <button mat-raised-button type="submit" class="btn btn-warning" routerLink="/sign-in">Voltar</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- <div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Reset Password</h3>

            <p class="text-center">Please enter your email address to request a password reset.</p>

            <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
            </div>

             <div class="formGroup">
                <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </div>
        </div>

        <div class="redirectToLogin">
            <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
        </div>

    </div>
</div> -->