<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header divCorVerde ">
                    <a>MANUTENÇÃO DAS ESPECIFICAÇÕES</a>
                </div>
                <div class="row">
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Produto Acabado</mat-label>
                            <input matInput [(ngModel)]="cabProduto" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Descrição</mat-label>
                            <input matInput [(ngModel)]="descrProd" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Revisão</mat-label>
                            <input matInput [(ngModel)]="cabRevisao" disabled>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Revisão Temporária</mat-label>
                            <input type="number" matInput [(ngModel)]=cabRevisaoTemp>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Data Aprovação</mat-label>
                            <input type="date" matInput [(ngModel)]="dataAprov">
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Número Especificação</mat-label>
                            <input matInput [(ngModel)]="numEspec">
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-select placeholder="Selecione o Status" [(ngModel)]="cabSituacao">
                                <mat-option *ngFor="let optSit of especSit" [value]="optSit">
                                    {{optSit}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-4 ">
                        <mat-form-field>
                            <mat-label>Aplicação</mat-label>
                            <input matInput [(ngModel)]="aplicacao">
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2 ">
                        <mat-form-field>
                            <mat-label>Lote Atual</mat-label>
                            <input matInput [(ngModel)]="loteAtual">
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Embalagem</mat-label>
                            <input matInput [(ngModel)]="embalagem">
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-select placeholder="Alçada" [(ngModel)]="especAlcada">
                                <mat-option *ngFor="let optAlcada of sEspecAlcada" [value]="optAlcada">
                                    {{optAlcada}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-select placeholder="Análise em processo" [(ngModel)]="especAnalise">
                                <mat-option *ngFor="let optAnalise of sEspecAnalise" [value]="optAnalise">
                                    {{optAnalise}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-select placeholder="Sequência de análise" [(ngModel)]="especSequencia">
                                <mat-option *ngFor="let optSequencia of sEspecSequencia" [value]="optSequencia">
                                    {{optSequencia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-select placeholder="Quebra de análise" [(ngModel)]="especQuebra">
                                <mat-option *ngFor="let optQuebra of sEspecQuebra" [value]="optQuebra">
                                    {{optQuebra}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Quantidade (h/Ton)</mat-label>
                            <input type="number" matInput [(ngModel)]=cabQtdeQuebra>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-select placeholder="Imprime Laudo" [value]="imprimeLaudo" [(ngModel)]="imprimeLaudo">
                                <mat-option *ngFor="let optAnalise of sEspecAnalise" [value]="optAnalise">
                                    {{optAnalise}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-2">
                        <mat-form-field>
                            <mat-label>Tempo Máximo Análise</mat-label>
                            <input [ngModel]="tempoMaximo" type="number" matInput>
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-12">
                        <mat-form-field>
                            <mat-label>Histórico de Revisão</mat-label>
                            <input matInput [(ngModel)]="qualObsRevisao">
                        </mat-form-field>
                    </div>
                    <div class="card-body table-responsive col-md-12">
                        <mat-form-field>
                            <mat-label>Observações Gerais</mat-label>
                            <input matInput [(ngModel)]="qualObsGeral">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-danger" (click)="voltaEspec()">Voltar</button>
            <button mat-raised-button type="submit" class="btn btn-success" (click)="alterar('A')">Alterar</button>
            <button mat-raised-button type="submit" class="btn btn-warning" (click)="alterar('R')">Revisar</button>
            <button mat-raised-button type="submit" class="btn btn-info" (click)="alterar('I')">Incluir</button>
        </div>
        <div class="row" *ngIf="lForm">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorVerde ">
                        <a>ADICIONA CARACTERÍSTICAS</a>
                        <!-- <p class="card-category">Complete your usuario</p> -->
                    </div>
                    <div class="row">
                        <div class="card-body table-responsive col-md-2">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Características</mat-label>
                                    <input type="text" placeholder="Características" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="novoCarCod">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="aposSelec($event)">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.descCarac">
                                            {{option.descCarac}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="card-body table-responsive col-md-3">
                            <mat-form-field>
                                <mat-label>Descrição</mat-label>
                                <input matInput [(ngModel)]="novoCarDesc" disabled>
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-1">
                            <mat-form-field>
                                <mat-label>Mínimo</mat-label>
                                <input type="number" matInput [(ngModel)]="novoCarMin">
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-1">
                            <mat-form-field>
                                <mat-label>Máximo</mat-label>
                                <input type="number" matInput [(ngModel)]="novoCarMax">
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Parâmetro</mat-label>
                                <input type="text" matInput [(ngModel)]="novoCarTxt">
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <mat-form-field>
                                <mat-label>Meio</mat-label>
                                <input type="text" matInput [(ngModel)]="novoCarMeio">
                            </mat-form-field>
                        </div>
                        <div class="card-body table-responsive col-md-2">
                            <button mat-raised-button type="submit" class="btn btn-info" (click)="especificar('I', {})">Adiciona</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorAzul">
                        <a>MANUTENÇÃO DAS CARACTERÍSTICAS DO PRODUTO  --> {{cabProduto}}
                            <button (click)="exportExcel('Especificas', 'Especifica')" mat-raised-button type="button"
                                matTooltip="Exporta Excel" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    file_download
                                </span>
                            </button>
                        </a>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="card-body table-responsive col-md-5">
                                <mat-form-field>
                                    <mat-label>Filtro</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrando Ordem Produção" #input>
                                </mat-form-field>
                            </div>
                            <button (click)="incCarac()" mat-raised-button type="button" matTooltip="Inclusão de Características" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    add_to_photos
                                </span>
                            </button>
                        </div>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="idEspecItens">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                    <td *matCellDef='let row' mat-cell> {{row.idEspecItens}} </td>
                                </ng-container>
                                <ng-container matColumnDef="iteCarac">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                                    <td mat-cell *matCellDef="let row"> {{row.iteCarac}} </td>
                                </ng-container>
                                <ng-container matColumnDef="descCarac">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
                                    <td mat-cell *matCellDef="let row"> {{row.descCarac}} </td>
                                </ng-container>
                                <ng-container matColumnDef="iteMin">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mínimo </th>
                                    <td mat-cell *matCellDef="let row; let i = index">
                                        <p *ngIf='editInd!=i'>{{row.iteMin}}</p>
                                        <input ng-maxlength="20" type='text' value={{row.iteMin}} id="idMin" *ngIf='editInd==i'>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="iteMax">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Máximo </th>
                                    <td mat-cell *matCellDef="let row; let i = index">
                                        <p *ngIf='editInd!=i'>{{row.iteMax}}</p>
                                        <input ng-maxlength="20" type='text' value={{row.iteMax}} id="idMax" *ngIf='editInd==i'>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="itetxt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Parâmetro </th>
                                    <td mat-cell *matCellDef="let row; let i = index">
                                        <p *ngIf='editInd!=i'>{{row.itetxt}}</p>
                                        <input ng-maxlength="20" type='text' value={{row.itetxt}} id="idtxt" *ngIf='editInd==i'>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="iteMeio">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Meio </th>
                                    <td mat-cell *matCellDef="let row; let i = index">
                                        <p *ngIf='editInd!=i'>{{row.iteMeio}}</p>
                                        <input ng-maxlength="20" type='text' value={{row.iteMeio}} id="idMeio" *ngIf='editInd==i'>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="iteLaudo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Laudo </th>
                                    <td mat-cell *matCellDef="let row;">
                                        <button (click)="especificar('L',row)" mat-raised-button type="button" matTooltip="Exclusão do Item" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">{{row.iteLaudo == 'SIM' ? 'thumb_up': 'thumb_down'}}</i>
                                        </button>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="iteEdit">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Edição </th>
                                    <td mat-cell *matCellDef="let row; let i = index;">
                                        <button *ngIf='editInd != i' (click)="editLinha($event, i)" mat-raised-button type="button" matTooltip="Edição" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button *ngIf='editInd==i' (click)="especificar('A',row)" mat-raised-button type='button' class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class='material-icons'>save</i>
                                        </button>
                                        <button *ngIf='editInd==i' (click)='editInd=null;' mat-raised-button type='button' class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class='material-icons'>cancel</i>
                                        </button>
                                        <button *ngIf='editInd != i' (click)="especificar('E',row)" mat-raised-button type="button" matTooltip="Exclusão do Item" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">not_interested</i>
                                        </button>
                                    </td>

                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]='divCorVerde'></tr>
                                <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
                                <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'comLaudo' : row.iteLaudo == 'SIM','semLaudo' : row.iteLaudo == 'NAO'}">
                                    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                    </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[12, 25, 50]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>