<div class="my-overlay" *ngIf="showOverlay">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header divCorAzul">
                        <a><button
                            (click)="backClicked()"
                            mat-raised-button type="button"
                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                            <span class="material-icons">
                                keyboard_arrow_left
                            </span>
                        </button>
                            PRODUTOS EM ANDAMENTO
                            <button
                                (click)="exportExcel('ProdutosAndamento', 'ProdutosAndamento')"
                                mat-raised-button type="button"
                                matTooltip="Exporta Excel"
                                [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <span class="material-icons">
                                    file_download
                                </span>
                            </button>
                        </a>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="card-body table-responsive col-md-5">
                                <mat-form-field>
                                    <mat-label>Filtro Geral</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro de LoteReg" #input>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="filial">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Filial
                                    </th>
                                    <td *matCellDef='let row' mat-cell>
                                        {{row.filial}} </td>
                                </ng-container>
                                <ng-container matColumnDef="op">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ordem de Produção
                                    </th>
                                    <td *matCellDef='let row' mat-cell>
                                        {{row.op}} </td>
                                </ng-container>
                                <ng-container matColumnDef="produto">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Produto
                                    </th>
                                    <td *matCellDef='let row' mat-cell>
                                        {{row.produto}} </td>
                                </ng-container>
                                <ng-container matColumnDef="descrProd">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição
                                    </th>
                                    <td *matCellDef='let row' mat-cell>
                                        {{row.descrProd}} </td>
                                </ng-container>
                                <ng-container matColumnDef="qtde_lote">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Qtde Lote
                                    </th>
                                    <td *matCellDef='let row' mat-cell>
                                        {{fg.formatarNumero(row.qtde_lote)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="qtde">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade
                                    </th>
                                    <td *matCellDef='let row' mat-cell>
                                        {{fg.formatarNumero(row.qtde)}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]='divCorVerde'></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'Fechado' : row.situacao === 'Fechado','Aberto' : row.situacao === 'Aberto','Aprovado' : row.situacao === 'Aprovado','Rejeitado' : row.situacao === 'Rejeitado'}">
                                </tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[12, 25, 50]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>